/* Reset for consistency */
html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Centering everything */
body {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* or center for vertical centering */
    background: #fff;
}

/* Wrapper to control width */
main {
    max-width: 500px;
    width: 100%;
    text-align: center;
}

/* Headline */
h1 {
    font-size: 6rem;
    margin: 60px 0;
}

/* Sections */
section {
    margin: 20px 0;
}

/* Footer */
hr {
    margin: 30px 0;
}

.menu-1{
  display: flex;           /* puts image + text side by side */
  align-items: center;   
  padding-bottom: 50px;  /* vertically align to middle */
}

.coffee-1{
  float: left;       /* push image to the left */
  margin-right: 15px; /* add space between image and text */
  width: 233px;   /* set exact width */
  height: 179px;  /* set exact height */
}

.menu-2 {
  display: flex;
  align-items: center;       /* vertical middle */
  flex-direction: row-reverse; /* flip order: image goes right */
 padding-bottom: 50px;  /* vertically align to middle */
 gap: 20px;
}

.menu-text {
  line-height: 2;
  text-align: left;
}


header{
 margin: 0 auto;
}







/* HAMBURGER MENU */
/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #ffffff;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #ffffff;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}